{{define "form/tlsSettings"}}
<!-- tls enable -->
<a-form layout="inline" v-if="inbound.protocol === Protocols.VLESS">
    <a-form-item label="security">
        <a-select v-model="inbound.stream.security" style="width: 150px" @change="vlessSecurityChange">
            <a-select-option value="none">none</a-select-option>
            <a-select-option value="tls">tls</a-select-option>
            <a-select-option value="reality">reality</a-select-option>
        </a-select>
    </a-form-item>
</a-form>
<a-form layout="inline" v-else-if="inbound.canSetTls()">
    <a-form-item label="tls">
        <a-switch v-model="inbound.tls" @change="tlsChange">
        </a-switch>
    </a-form-item>
</a-form>

<!-- tls settings -->
<a-form v-if="inbound.tls || inbound.xtls"
        layout="inline">
    <a-form-item label="域名">
        <a-input v-model.trim="inbound.stream.tls.server"></a-input>
    </a-form-item>
    <a-form-item label="证书">
        <a-radio-group v-model="inbound.stream.tls.certs[0].useFile"
                       button-style="solid">
            <a-radio-button :value="true">certificate file path</a-radio-button>
            <a-radio-button :value="false">certificate file content</a-radio-button>
        </a-radio-group>
    </a-form-item>
    <template v-if="inbound.stream.tls.certs[0].useFile">
        <a-form-item label="已有证书">
            <a-select allow-clear style="width: 260px"
                      :loading="certificateStore.loading"
                      placeholder="选择证书"
                      @dropdown-visible-change="open => open && certificateStore.load()"
                      @change="selectTlsCertificate">
                <a-select-option v-for="cert in certificateStore.validCertificates"
                                 :key="certificateStore.getValue(cert)"
                                 :value="certificateStore.getValue(cert)">
                    [[ cert.domain ]] [[ cert.expire ? DateUtil.formatMillis(cert.expire * 1000) : '' ]]
                </a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item label="公钥文件路径">
            <a-input v-model.trim="inbound.stream.tls.certs[0].certFile"></a-input>
        </a-form-item>
        <a-form-item label="密钥文件路径">
            <a-input v-model.trim="inbound.stream.tls.certs[0].keyFile"></a-input>
        </a-form-item>
    </template>
    <template v-else>
        <a-form-item label="公钥内容">
            <a-input type="textarea" :rows="2"
                     v-model="inbound.stream.tls.certs[0].cert"></a-input>
        </a-form-item>
        <a-form-item label="密钥内容">
            <a-input type="textarea" :rows="2"
                     v-model="inbound.stream.tls.certs[0].key"></a-input>
        </a-form-item>
    </template>
</a-form>

<!-- reality settings -->
<a-form v-if="inbound.reality"
        layout="inline">
    <a-form-item label="template">
        <a-select v-model="realityConfigTemplate" style="width: 150px">
            <a-select-option value="cloudflare">Cloudflare</a-select-option>
            <a-select-option value="apple">Apple</a-select-option>
            <a-select-option value="google">Google</a-select-option>
            <a-select-option value="microsoft">Microsoft</a-select-option>
            <a-select-option value="custom">自定义</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label="generate">
        <a-button size="small" :loading="realityConfigGenerating" @click="generateRealityConfig">
            生成Reality配置
        </a-button>
    </a-form-item>
    <a-form-item label="dest">
        <a-input v-model.trim="inbound.stream.reality.dest" placeholder="example.com:443"></a-input>
    </a-form-item>
    <a-form-item label="serverNames">
        <a-input v-model.trim="inbound.stream.reality.serverNamesText" placeholder="example.com"></a-input>
    </a-form-item>
    <a-form-item label="privateKey">
        <a-input v-model.trim="inbound.stream.reality.privateKey"></a-input>
    </a-form-item>
    <a-form-item label="shortIds">
        <a-input v-model.trim="inbound.stream.reality.shortIdsText" placeholder="0123456789abcdef"></a-input>
    </a-form-item>
    <a-form-item label="fingerprint">
        <a-input v-model.trim="inbound.stream.reality.fingerprint" placeholder="chrome"></a-input>
    </a-form-item>
    <a-form-item label="keyPair">
        <a-button size="small" :loading="realityKeyGenerating" @click="generateRealityKeyPair">
            生成
        </a-button>
    </a-form-item>
    <a-form-item label="publicKey(客户端使用)">
        <a-input v-model.trim="inbound.stream.reality.publicKey" disabled></a-input>
    </a-form-item>
    <a-form-item label="spiderX">
        <a-input v-model.trim="inbound.stream.reality.spiderX" placeholder="/"></a-input>
    </a-form-item>
</a-form>
{{end}}
